@using BusinessView.ofDTO.ofCommon
@using BusinessView.ofViewModels.ofWebApp.ofCommon
@if (UsersViewModel?.IdentityUserDTOs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudTable Items=UsersViewModel.IdentityUserDTOs>
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>UserName</MudTh>
            <MudTh>Email</MudTh>
            <MudTh>Managed</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="UserName">@context.UserName</MudTd>
            <MudTd DataLabel="Email">@context.Email</MudTd>
            <MudButton Variant=Variant.Filled Color=Color.Primary OnClick="@(() => SetIdentityUerDTO(context))">Select</MudButton>
        </RowTemplate>
    </MudTable>
    @if(UsersViewModel.IdentityUserDTO != null)
    {
        <h2>@UsersViewModel.IdentityUserDTO.Email</h2>
    }

}

@code {
    [CascadingParameter(Name = "UsersViewModel")] 
    UsersViewModel UsersViewModel { get; set; }

    void SetIdentityUerDTO(IdentityUserDTO identityUserDTO)
    {
        UsersViewModel.IdentityUserDTO = identityUserDTO;
        Console.WriteLine(UsersViewModel.IdentityUserDTO.Email);
    }
}
